body { background: #880ce9; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 46px; display: flex; }
.block-shipping-0 { color: #9c2495; font-size: 15px; margin-bottom: 5px; }
.block-router-1 { color: #d5a859; font-size: 19px; margin-bottom: 5px; }
.block-router-2 { color: #cdf4bf; font-size: 21px; margin-bottom: 5px; }
.block-helper-3 { color: #349244; font-size: 16px; margin-bottom: 5px; }
.block-shipping-4 { color: #2be46; font-size: 18px; margin-bottom: 5px; }